# ==========================================
# DEPENDENCIAS GENERALES Y COMPILACIONES
# ==========================================
node_modules/
backend/target/
target/

# ==========================================
# EXPO & FRONTEND (REACT NATIVE WEB)
# ==========================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
.metro-health-check*
app-example/

# ==========================================
# ANDROID NATIVO
# ==========================================
android/
.kotlin/
*.jks
android/.gradle/
android/build/
android/app/build/

# ==========================================
# IOS NATIVO
# ==========================================
ios/
ios/Pods/
ios/build/
*.p8
*.p12
*.key
*.mobileprovision

# ==========================================
# CONFIGURACIONES LOCALES Y VARIABLES (ENV)
# ==========================================
.env
.env*.local
*.pem

# ==========================================
# ARCHIVOS DE SISTEMA Y DEBUG
# ==========================================
.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*
*storybook.log
storybook-static/
*.tsbuildinfo
*.orig.*