# ==========================================
# DEPENDENCIAS Y COMPILACIONES (BACKEND / NODE)
# ==========================================
node_modules/
backend/target/
target/

# ==========================================
# EXPO & FRONTEND (REACT NATIVE WEB)
# ==========================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
.metro-health-check*
app-example/

# ==========================================
# ANDROID NATIVO
# ==========================================
/android
android/.gradle/
android/build/
android/app/build/
.kotlin/
*.jks

# ==========================================
# IOS NATIVO
# ==========================================
/ios
ios/Pods/
ios/build/
*.p8
*.p12
*.key
*.mobileprovision

# ==========================================
# CONFIGURACIONES LOCALES Y VARIABLES (ENV)
# ==========================================
.env
.env*.local
*.pem

# ==========================================
# ARCHIVOS DE SISTEMA Y DEBUG / LOGS
# ==========================================
.DS_Store
npm-debug.*
npm-debug.log*
yarn-debug.*
yarn-debug.log*
yarn-error.*
yarn-error.log*
*storybook.log
storybook-static/
*.tsbuildinfo
*.orig.*