USE [river_db]
GO
/****** Object:  Table [dbo].[users]    Script Date: 25/01/2026 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [name], [password]) VALUES (1, N'jguius2021@cepnet.net', N'Josep', N'12345678')
INSERT [dbo].[users] ([id], [email], [name], [password]) VALUES (2, N'jmartinezs2425@politecnics.barcelona', N'Joako', N'12345679')
SET IDENTITY_INSERT [dbo].[users] OFF
GO